
<div class="container-fluid cew-9">
  <div class="row">
    <div class="col">
      <img src="/images/logo.png" width="300" alt="logo Image">
  </div>
</div>
<div class="row">
  <div class="col pink">
    Materialize
    <p>Materialize es un framework CSS responsive basado en Material Design. Es bastante robusto, de ahí que permita que el usuario cuente con los estilos posibles para posteriormente poder integrarlos a desarrollos personalizados.</p>
  </div>
  <div class="col-8 blue">
    Importancia
    <p>Materialize encuentras todo tipo de interfaces, como colores, transiciones, tipografías, botones, navegadores, cabeceras, base de datos de iconos, elementos de formulario, tarjetas, tooltips, acordeones, menús desplegables, botones flotantes, migas de pan, menús con pestañas, sistemas de paginación, listas, así como un sistema de rejilla y mucho más. </p>
    </div>
    </div>
    <div class="row">
      <div class="col purple">
        las ventajas e inconvenientes de Materialize CSS son más o menos las mismas que las de cualquier otro framework CSS, pues todos ofrecen más o menos lo mismo. 
      </div>
    </div>
</div>