<h1>Listado de alumnos</h1>

<table bgcolor='#f8bbd0'>

  <tr>

    <td><strong>Nombre</strong></td>

    <td><strong>Horas Acumuladas</strong></td>
    <td><strong>Horario</strong></td>

    <td><strong>Dias realizados</strong></td>

  </tr>

  <tr>

    <td>Angel Mora Jimenez</td>
    <td>20</td>

    <td>16:00 - 20:00</td>

    <td>5 dias</td>

  </tr>

  <tr>
    <td>Marlene Rodriguez Rojas</td>

    <td>80</td>
    <td>16:00 - 20:00</td>

    <td>20 dias</td>

  </tr>

  <tr>

    <td>Brenda Nataly Rocha Castillo</td>

    <td>60</td>

    <td>16:00 - 20:00</td>

    <td>15 dias</td>

  </tr>

</table>
<br />
<button type='button' class='btn btn-success'>Agregar</button>