<div class='container'>
  <div class='row card hoverable'>
    <div class='card-content'>
      <h4 class='center blue-text'>Iniciar Sesion</h4>
      <form class='row s12'>
        <div class='col s12'>
          <div class='input-field'>
            <input type='text' name='' placeholder='Numero de Control*' />
          </div>
        </div>
        <div class='col s12'>
          <div class='input-field'>
            <input type='password' name='' placeholder='Contraseña*' />
          </div>
        </div>
        <div class='col s12'>
          <p><label><input type='checkbox' /></label></p>
        </div>
        <div class='col s12 center'>
          <button
            type='button'
            class='btn btn-large waves-effect waves-light blue'
          >Ingresar<i class='material-icons right'>send</i></button>
        </div>
      </form>
    </div>
  </div>
</div>